body{
    background-color: #fabd99;
}

/*logo*/
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
   
}

/*menu principal*/
.navbar-nav .nav-link{
    color: #fff;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover{
    color: rgb(255, 206, 107);
}

/*scroll*/

.navbar-scroll{
    background-color: #8C877D;
    padding: 0;
    top: 0;
    position: fixed;
    z-index: 99;
    box-shadow: 0px 1px 10px rgba(0, 0,0, 0.4);
    transition-duration: 0.6s;
}

.navbar-scroll .nav-item .nav-link{
    color: #fff;
}

.navbar-scroll .logo{
    height: 90;
}

/*carousel*/

.carousel-item{
    height: 60vh;
    min-width: 300px;
}

.bg-1, .bg-2, .bg-3{
    background-size: cover;
}

/*section*/

section{
    height: 400px;
}

.margenes{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

/*formularios*/
/* Estilos de caja para comentarios y formulario */
.comentario-box {
    background-color: #d4b89a;
    border-radius: 10px;
  }
  
  .header-box {
    background-color: #5d3928;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-style: italic;
  }
  
  .comment-content {
    background-color: #a77c5b;
    border-radius: 10px;
    padding: 10px;
    color: white;
  }
  
  /* Estilos de input y textarea personalizados */
  .custom-input,
  .custom-textarea {
    background-color: #a77c5b;
    color: white;
    border: none;
    border-radius: 10px;
  }
  
  .custom-button {
    background-color: #5d3928;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
  }
  
  .custom-button:hover {
    background-color: #3f271b;
  }
  
  

/*footer*/
/* Pie de Pagina */
footer {
    background-color: #593520;
    color: #fff;
    margin-top: 5%;
    position: relative; 
    width: 100%;
}

.pol {
    height: 100px;
    float: left;
}

.iconos {
    margin-right: 5px;
    height: 24px;
}

.info1, .info2 { 
    display: flex;
    position: relative;
}

.info1 {
    margin-top: 20px;
}

.iconos {
    color: #ffffff; 
    font-size: 24px; 
    margin-right: 10px; 
    transition: color 0.3s; 
    position: relative;
}

.iconos:hover {
    color: #d4af37; 
}
.col-3:last-child {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    width: auto; 
}

/* Responsividad */
@media screen and (max-width: 550px) {
    #footer {
        display: flex;           
    justify-content: space-around; 
    align-items: center;     
    flex-wrap: wrap;
}

    .col-3 {
        width: 100%; 
        text-align: center; 
        margin-top: 10px; 
    }

    .pol {
        display: block;
        margin: 0 auto; 
    }
}