/* Estilos de caja para comentarios y formulario */
.comentario-box {
    background-color: #d4b89a;
    border-radius: 10px;
  }
  
  .header-box {
    background-color: #5d3928;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-style: italic;
  }
  
  .comment-content {
    background-color: #a77c5b;
    border-radius: 10px;
    padding: 10px;
    color: white;
  }
  
  /* Estilos de input y textarea personalizados */
  .custom-input,
  .custom-textarea {
    background-color: #a77c5b;
    color: white;
    border: none;
    border-radius: 10px;
  }
  
  .custom-button {
    background-color: #5d3928;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
  }
  
  .custom-button:hover {
    background-color: #3f271b;
  }
  
  