body{
    background-color: #F2E4DC;
}

.margenes{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

/*CABECERA LOGO*/
#carouselExampleFade {
    position: relative;
    z-index: 5;
}
.navbar-brand-img {
    width: 55em;
    height: 55em;
    position: absolute;
    float: left;
    z-index: 10;
}

/*ICONOS SERVICIOS*/
.servis {
    width: 40%;
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  #serv p {
    color: black;
    font-size: 1em;
    margin: 0;
  }

@media screen and (max-width: 550px) {
    .margenes {
        margin-left: 5%;
        margin-right: 5%;
    }
}