body{
    background-color: #F2E4DC;
}
.margenes{
    margin-left: 5%;
    margin-right: 5%;
}


/*ICONOS SERVICIOS*/
.servis {
    width: 40%;
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  #serv p {
    color: black;
    font-size: 1em;
    margin: 0;
  }

@media screen and (max-width: 550px) {
    .margenes {
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Carrusel principal (para pantallas grandes) */
#carouselProducts {
    display: block;
  }
  
  #carouselSmall {
    display: none;
  }
 #carouselSmall2 {
    display: none;
  }
  
  /* Carrusel alternativo (para pantallas pequeñas) */
  @media (max-width: 550px) {
    #carouselProducts {
      display: none; 
    }
      #carouselExampleControls {
        display: none;
    }
    #carouselExampleControls2 {
        display: none;
    }
  
    #carouselSmall {
      display: block; 
    }
      #carouselSmall2 {
        display: block; 
      }
  }
  

