.div-gris {
    background-color: #8C877D;
    width: 100%;
    height: 3em;
}
.subtitulo-novedades {
    text-align: center;
    color: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size:32px;
}

.card-carrusel {
    display: flex;
}
.card {
    margin: 3em;
    border-radius: 2em;  
}
.card img {
    border-radius: 2em;
}
.card-img-overlay {
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background-color: rgba(0,0,0,0.1);
}
.card-title {
    padding-top: 12em;
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
}
.card-text {
    text-align: center;
    font-family: "Roboto";
}
.card-noticias {
    height: 20.5em;
    background-color: #D9C2A7;
    overflow-x: scroll;
}
.card-body {
    background-color: #A68365;
    border-radius: 2em;
}
.card-title-noti {
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    color: white;
}
.card-text-noti {
    font-family: "Roboto";
    color: white;
}