/* Textos Generales */

/* Títulos */
.titulos {
    margin-top:5% ;
    text-align: center;
    color: black;
    font-family: "Playfair Display", serif;
    font-weight: 400; /* Cambiar "weight" por un valor válido */
    font-style: normal;
    font-size: 50px;
}

/* Texto Home */
.texto {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Texto Producto */
.texto-producto {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin: 0 10%;
    font-size: 22px;
}

/* Texto Contacto */
.accordion-body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: black;
    font-size: 16px;
}

/* Texto Nosotros */
.nosotros-p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: black;
    font-size: 22px;
}

/* Texto Footer */
.container p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
}

/* Responsivo para Pantallas Pequeñas */
@media screen and (max-width: 550px) {
    /* Títulos */
    .titulos {
        font-size: 32px;
    }

    /* Texto Nosotros y Contacto */
    .accordion-body,
    .nosotros-p {
        font-size: 16px;
        padding: 0 10px;
    }

    /* Texto Producto */
    .texto-producto {
        font-size: 16px;
    }
}
